<a name="home"></a>
.jumbotron
  .container
    .row
      .col-md-7
        h1
          p PRESTIGOS SDK
          p.lead SDK to access the Prestigos API
        ul
          li Compatible with node.js and directly on the browser
          li Can return Promises or use callbacks
      .col-md-5
.container
  .row
    #leftCol.col-md-3
      ul#sidebar.nav.nav-stacked
        li
          a(href='#about') About
        li
          a(href='#installation') Installation
        li
          a(href='#connection') Create a connection
        li
          a(href='#methods') Methods
          ul.nav
            li
              a(href='#userEntitiesCreate') userEntities
              ul.nav
                li
                  a(href='#userEntitiesGet') userEntitiesGet
                li
                  a(href='#userEntitiesSearch') userEntitiesSearch
                li
                  a(href='#userEntitiesCreate') userEntitiesCreate
                li
                  a(href='#userEntitiesEdit') userEntitiesEdit
                li
                  a(href='#userEntitiesRemove') userEntitiesRemove
            li
              a(href='#tags') Tags
              ul.nav
                li
                  a(href='#tagsGet') tagsGet
                li
                  a(href='#tagsCreate') tagsCreate
                li
                  a(href='#tagsEdit') tagsEdit
                li
                  a(href='#tagCategoriesGet') tagCategoriesGet
                li
                  a(href='#tagCategoriesCreate') tagCategoriesCreate
                li
                  a(href='#tagCategoriesEdit') tagCategoriesEdit
                li
                  a(href='#tagCategoriesRemove') tagCategoriesRemove
            li
              a(href='#comments') Comments
              ul.nav
                li
                  a(href='#commentsGet') commentsGet
                li
                  a(href='#commentsCreate') commentsCreate
                li
                  a(href='#commentsEdit') commentsEdit
                li
                  a(href='#commentsRemove') commentsRemove
            li
              a(href='#journal') Journal
              ul.nav
                li
                  a(href='#journalEntryCreate') journalEntryCreate
                li
                  a(href='#journalEntryEdit') journalEntryEdit
                li
                  a(href='#journalCommentCreate') journalCommentCreate
            li
              a(href='#layers') Layers
              ul.nav
                li
                  a(href='#layersGet') layersGet
                li
                  a(href='#layersCreate') layersCreate
                li
                  a(href='#layersEdit') layersEdit
                li
                  a(href='#layersRemove') layersRemove
            li
              a(href='#registries') Registries
              ul.nav
                li
                  a(href='#registriesAdd') registriesAdd
                li
                  a(href='#registriesGet') registriesGet
                li
                  a(href='#groupRegistriesGet') groupRegistriesGet
            li
              a(href='#kpis') KPIs
              ul.nav
                li
                  a(href='#kpisAdd') kpisAdd
                li
                  a(href='#kpisCreate') kpisCreate
                li
                  a(href='#kpisRemove') kpisRemove
            li
              a(href='#events') Events
              ul.nav
                li
                  a(href='#eventsCreate') eventsCreate
            li
              a(href='#events') Queries
              ul.nav
                li
                  a(href='#queriesExecute') queriesExecute
            li
              a(href='#reports') Reports
              ul.nav
                li
                  a(href='#trends') trends
                li
                  a(href='#HRAnalytics') HRAnalytics
        li
          a(href='#license') License
    .col-md-9
      != partial('/sections')
