<a name="home"></a>
.jumbotron
  .container
    .row
      .col-md-7
        h1
          p PRESTIGOS SDK
          p.lead SDK to access the Prestigos API
        ul
          li Compatible with node.js and directly on the browser
          li Can return Promises or use callbacks
      .col-md-5
.container
  .row
    #leftCol.col-md-3
      ul#sidebar.nav.nav-stacked
        li
          a(href='#about') About
        li
          a(href='#installation') Installation
        li
          a(href='#connection') Create a connection
        li
          a(href='#methods') Methods
          ul.nav
            li
              a(href='#userEntitiesCreate') userEntitiesCreate
            li
              a(href='#userEntitiesEdit') userEntitiesEdit
            li
              a(href='#userEntitiesRemove') userEntitiesRemove
            li
              a(href='#tagsGet') tagsGet
            li
              a(href='#tagsCreate') tagsCreate
            li
              a(href='#tagsEdit') tagsEdit
            li
              a(href='#commentsGet') commentsGet
            li
              a(href='#commentsCreate') commentsCreate
            li
              a(href='#commentsEdit') commentsEdit
            li
              a(href='#commentsRemove') commentsRemove
            li
              a(href='#layersGet') layersGet
            li
              a(href='#layersCreate') layersCreate
            li
              a(href='#layersEdit') layersEdit
            li
              a(href='#layersRemove') layersRemove
            li
              a(href='#registriesGet') registriesGet
            li
              a(href='#groupRegistriesGet') groupRegistriesGet
            li
              a(href='#eventsCreate') eventsCreate
            li
              a(href='#queriesExecute') queriesExecute
        li
          a(href='#license') License
    .col-md-9
      != partial('/sections')
