h2#about Prestigos SDK
!= partial('_content/about')
  
h2#installation Installation
!= partial('_content/installation')

h2#connection Create a connection to Prestigos
!= partial('_content/connection')

h2#methods Methods

p Each connection has the following methods:

#userEntities
section#userEntitiesGet
  != partial('_content/userEntitiesGet')
section#userEntitiesSearch
  != partial('_content/userEntitiesSearch')
section#userEntitiesCreate
  != partial('_content/userEntitiesCreate')
section#userEntitiesEdit
  != partial('_content/userEntitiesEdit')
section#userEntitiesRemove
  != partial('_content/userEntitiesRemove')

#tags
section#tagsGet
  != partial('_content/tagsGet')
section#tagsCreate
  != partial('_content/tagsCreate')
section#tagsEdit
  != partial('_content/tagsEdit')
section#tagCategoriesGet
  != partial('_content/tagCategoriesGet')
section#tagCategoriesCreate
  != partial('_content/tagCategoriesCreate')
section#tagCategoriesEdit
  != partial('_content/tagCategoriesEdit')
section#tagCategoriesRemove
  != partial('_content/tagCategoriesRemove')

#comments
section#commentsGet
  != partial('_content/commentsGet')
section#commentsCreate
  != partial('_content/commentsCreate')
section#commentsEdit
  != partial('_content/commentsEdit')
section#commentsRemove
  != partial('_content/commentsRemove')

#journal
section#journalEntryCreate
  != partial('_content/journalEntryCreate')
section#journalEntryEdit
  != partial('_content/journalEntryEdit')
section#journalCommentCreate
  != partial('_content/journalCommentCreate')

#layers
section#layersGet
  != partial('_content/layersGet')
section#layersCreate
  != partial('_content/layersCreate')
section#layersEdit
  != partial('_content/layersEdit')
section#layersRemove
  != partial('_content/layersRemove')

#registries
section#registriesAdd
  != partial('_content/registriesAdd')
section#registriesGet
  != partial('_content/registriesGet')
section#groupRegistriesGet
  != partial('_content/groupRegistriesGet')

#kpis
section#kpisAdd
  != partial('_content/kpisAdd')
section#kpisCreate
  != partial('_content/kpisCreate')
section#kpisRemove
  != partial('_content/kpisRemove')

#events
section#eventsCreate
  != partial('_content/eventsCreate')

#queries
section#queriesExecute
  != partial('_content/queriesExecute')

h2#license License

p Double licensed as MIT and BSD
