h2#about Prestigos SDK
!= partial('_content/about')
  
h2#installation Installation
!= partial('_content/installation')

h2#connection Create a connection to Prestigos
!= partial('_content/connection')

h2#methods Methods

p Each connection has the following methods:

section#userEntitiesCreate
  != partial('_content/userEntitiesCreate')
section#userEntitiesEdit
  != partial('_content/userEntitiesEdit')
section#userEntitiesRemove
  != partial('_content/userEntitiesRemove')
section#tagsGet
  != partial('_content/tagsGet')
section#tagsCreate
  != partial('_content/tagsCreate')
section#tagsEdit
  != partial('_content/tagsEdit')

section#commentsGet
  != partial('_content/commentsGet')
section#commentsCreate
  != partial('_content/commentsCreate')
section#commentsEdit
  != partial('_content/commentsEdit')
section#commentsRemove
  != partial('_content/commentsRemove')
section#eventsCreate
  != partial('_content/eventsCreate')
section#queriesExecute
  != partial('_content/queriesExecute')

h2#license License

p Double licensed as MIT and BSD
