h2#about Prestigos SDK
!= partial('_content/about')
  
h2#installation Installation
!= partial('_content/installation')

h2#connection Create a connection to Prestigos
!= partial('_content/connection')

h2#methods Methods

p Each connection has the following methods:

section#userEntitiesCreate
  != partial('_content/userEntitiesCreate')
section#userEntitiesEdit
  != partial('_content/userEntitiesEdit')
section#userEntitiesRemove
  != partial('_content/userEntitiesRemove')
section#eventsCreate
  != partial('_content/eventsCreate')

h2#license License

p Double licensed as MIT and BSD
